# Ignore everything
/*

# Include these top-level files
!.bashrc
!.gitignore
!README.md

# Allow including files from these directories
!.config/

# Ignore files from previously whitelisted directories
.config/*

# Include files from whitelisted directories
!.config/alacritty/
!.config/bat/
!.config/fastfetch/
!.config/fish/
!.config/helix/
!.config/lsd/
!.config/niri/
!.config/paru/
!.config/tmux/
!.config/zellij/
