# Ignore everything
/*

# Include config files
!.bashrc
!.gitignore
!README.md

# Include config directories
!.config/
.config/*
!.config/alacritty/
!.config/bat/
!.config/fastfetch/
!.config/fish/
!.config/ghostty/
!.config/helix/
!.config/lsd/
!.config/niri/
!.config/paru/
!.config/tmux/
!.config/zed/
!.config/zellij/

# Include the scripts directory 
!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/scripts/
